//====== VARIABLES ======
// Define all global variables use in the project here
//=======================

//============ COLORS ============
$mainColor: #2ba8c6;
$mainColorAlt: #016980;
$altColor: #e5701d;

$lightColor: #ffffff;
$textColor: #5F5F5F;
$titleColor: #004958;

$errorColor: #CE2E2E;